<h1>edit</h1>
<section id="size">    
  <div style="padding: 25px">
    <%= form_tag("", :method => "get") do %>
    <p>
      Current size: 
      <%= params[:size] || "Thumb" %>
      <span style="float: right;margin-right: 400px;">
	<%= select_tag "size", options_for_select(["Thumb","Small","Medium","Large"]), :prompt => "Select a size", :onchange => "this.form.submit()" %>
      </span>
    </p>
    <p>
      Set photo to private:
      <%= @photo.private %>
      <span style="float: right;margin-right: 400px">
	<%= check_box_tag("private", true, @photo.private, {:onchange => "this.form.submit()"}) %>
      </span>
    </p>
    <% end %>
    <%= image_tag @photo.image_url(@disp[params[:size]] || :thumb) %>
  </div>
</section>

