<article class = "intro">
	 <%= image_tag("display.png", :alt => "Introductory Image") %>
	 <h3>Free your images with Balloon</h3>
</article>

<section class="signup">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<p>Join Balloon today!</p>
	<ul>
		<li>
	 	   <%= f.text_field :name, :id => 'fname', :placeholder => "First Name" %>
  		</li>

 	 	<li>
  	 	   <%= f.email_field :email, :id => 'email', :placeholder => "Email" %>
  		</li>

  	  	<li>
  	  	  <%= f.password_field :password, :id => 'password', :placeholder => "Password" %>
  		</li>

  	  	<li>
  	 	  <%= f.password_field :password_confirmation, :id => 'password', :placeholder => "Password Confirmation" %>
  		</li>

  	  	<li>
	  	  <%= f.submit "Sign up" %>
	  	</li>
		<li>
		  <%= render "devise/shared/links" %>
		</li>
	</ul>
	
  

<% end %>

</section>

