
<h3>User</h3>
<% @users.each do |user| %>
  <div>
	  <h2><%= link_to user.name, user %></h2>
    Photos: <%= user.photos.size %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
  </div>
<%end %>  
<h1>Community</h1>
<section id"allusers">
<div id="grid2">
<% @users.each do |user| %>
<div id="feature">
	<%= image_tag(user.avatar_url(:thumb)) if user.avatar_url %>
  <p><%=link_to user.name, user %>
      Photos: <%= user.photos.size %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	</p>
</div>  
<% end %>
</div>
</section>

