
<h1>News</h1>

<article id="static">
  <div id="info">
    <h2><span>No news yet, check back soon!</span></h2>
	<h3><%= link_to "History of Balloon", history_path %></h3>
	<h3><a href="about.html">Developer's Blog - <span style="color: #27b;">Coming soon</span></a></h3>
  </div>
   <%= image_tag("display.png", :alt => "Introductory Image") %>
</article>
<% @posts.each do |post| %>

<article id="news">

  <header>
    <h2><%= post.title %></h2>
	<p><%= post.created_at %></p>
  </header>
  <p><%= post.body %></p>
  <footer>
    <p><small>Balloon Develpment Crew</small>
	<%= link_to 'Show', post %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </footer>
</article>
<% end %>
</table>

<br />
