
<h3>User</h3>
<% @users.each do |user| %>
  <div>
	  <h2><%= link_to user.name, user %></h2>
    Photos: <%= user.photos.size %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
  </div>
<%end %>  


<h1>Community</h1>
<section id"allusers">
<div id="grid2">
<% @users.each do |user| %>
<div id="feature">
	<%= image_tag(user.avatar_url(:thumb)) if user.avatar_url %>
  <p><%=link_to user.name, user %>
      Photos: <%= user.photos.size %>
  <% if current_user.id!=user.id %>
    <% friends = Array.new %>
    <% friends = Friendship.find_all_by_user_id(current_user.id) %>
    <% friends.concat(Friendship.find_all_by_friend_id(current_user.id)) %>
    <% friend = false %>
    <% friends.each do |friendship| %>
      <% if (friendship.user_id == current_user.id and friendship.friend_id == user.id) or %>
      <% (friendship.user_id == user.id and friendship.friend_id == current_user.id) %>
	<% friend = true%>
      <% end %>
    <% end %>
      <% if !friend %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <% end %>
    <% end %>

	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>

	</p>
</div>  
<% end %>
</div>

</section>

