
<div id="profile">
<% if user_signed_in? %>
<div id="userinfo">
  <%= image_tag(@user.avatar_url(:thumb)) %>
	<div id="welcome">
	<% if @user != current_user %>
		<% not_curr_user = "hide" %>
	<% end %>
		<p style="font-size: 22px; font-weight: 800;"><span class="<%= not_curr_user %>">Welcome, </span><span style="color:#27b"><%= @user.name %></span></p>
		<p style=" color: #27b;"> Date Joined: <%= @user.created_at.strftime("%d %b %Y") %><span style="margin-left: 10px; padding-left: 10px; border-left:2px solid;">Images set free:  <%= @user.photos.size %> </span></p>
		<p style="" class="<%= not_curr_user %>">
	<%= link_to "Add a Photo", new_photo_path(:user_id => @user), :id => "addphoto" %>
		</p> 
</div>
<hr id="hrpage"/>
<div id="portfolio">
<<<<<<< HEAD
<<<<<<< HEAD
	<% if @user.photos.count() == 0 %>
	<div id="intro", style="margin-left: 30%;">
	<%= image_tag("default.png", :alt => "Introductory Image") %>
</div>
	<% else %>
	<ul>
		
		
 	<% for photo in @user.photos %>
=======
=======
>>>>>>> 5d0502b5c62ebe8a82979719d4e39ff5320be0c6
  <ul>
<% friends = Array.new %>
<% friends = Friendship.find_all_by_user_id(current_user.id) %>
<% friends.concat(Friendship.find_all_by_friend_id(current_user.id)) %>
<% friend = false %>
<% friends.each do |friendship| %>
  <% if (friendship.user_id == current_user.id and friendship.friend_id == @user.id) or %>
  <% (friendship.user_id == @user.id and friendship.friend_id == current_user.id) %>
    <% friend = true%>
  <% end %>
<% end %>
<% for photo in @user.photos %>
<li><%= photo.private %></li>
  <% if !photo.private or (@user == current_user) or (photo.private and friend) %>
<<<<<<< HEAD
>>>>>>> 5d0502b5c62ebe8a82979719d4e39ff5320be0c6
=======
>>>>>>> 5d0502b5c62ebe8a82979719d4e39ff5320be0c6
    <li>
    <%= image_tag photo.image_url(:thumb) if photo.image? %>
      <p class="<%= not_curr_user %>">
    <%= link_to "edit", edit_photo_path(photo) %>
					|
    <%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    </li>
<<<<<<< HEAD
<<<<<<< HEAD
 	<% end %>
	</ul>
	<%end%>
=======
  <% end %>
 <% end %>
  </ul>
>>>>>>> 5d0502b5c62ebe8a82979719d4e39ff5320be0c6
=======
  <% end %>
 <% end %>
  </ul>
>>>>>>> 5d0502b5c62ebe8a82979719d4e39ff5320be0c6
</div>
<% if @user.friends.count() != 0 %>
<div id="friends">
<h3><span class="<%= not_curr_user %>">Your </span>Friends</h2>
<ul>
	
  <% for user in @user.friends %>
  <li><%= h user.name %></li>
  <% end %>  

</ul>
</div>
  <%end%>

<% end %>
</div> 
