<div id="profile">
<% if user_signed_in? %>
<div id="userinfo">
	<%= image_tag(@user.avatar_url(:thumb)) if @user.avatar_url %>
	<div id="welcome">
	<% if @user != current_user %>
		<% not_curr_user = "hide" %>
	<% end %>
	<div id="friends">
	<h3><span class="<%= not_curr_user %>">Your </span>Friends</h2>
	<ul>
	  <% for user in @user.friends %>
	  <li><%= h user.name %></li>
	  <% end %>  
	</ul>
	</div>
		<p style="font-size: 22px; font-weight: 800;"><span class="<%= not_curr_user %>">Welcome, </span><span style="color:#27b"><%= @user.name %></span></p>
		<p style=" color: #27b;"> Date Joined: <%= @user.created_at %><span style="margin-left: 10px; padding-left: 10px; border-left:2px solid;">Images set free:  <%= @user.photos.size %> </span></p>
		<p style="" class="<%= not_curr_user %>">
	<%= link_to "Add a Photo", new_photo_path(:user_id => @user), :id => "addphoto" %>
		</p> 
</div>
<hr class="top"/>
<div id="portfolio">
	<ul>
 	<% for photo in @user.photos %>
    <li>
    <%= image_tag photo.image_url(:thumb) if photo.image? %>
		  <p class="<%= not_curr_user %>">
      <%= link_to "edit", edit_photo_path(photo) %>
					|
        <%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete %>
			</p>
    </li>
 	<% end %>
	</ul>
</div>

<% end %>
  <div class="clear"></div>
</div> 
