<div id="profile">
<div id="userinfo">
	<div id="welcome">
		<p style="float:right; margin-right: 200px;">
		  <%= link_to "Add a Photo", new_photo_path(:user_id => @user) %>
		</p> 
		<p style="font-size: 22px; font-weight: 800;">Welcome, <span style="color:#27b"><%= @user.name %></span></p>
		<p style=" color: #27b;"> Date Joined: <%= @user.created_at %><span style="margin-left: 10px; padding-left: 10px; border-left:2px solid;">Images set free:  <%= @user.photos.size %> </span></p>
</div>

<div id="portfolio">
	<ul>
 	   <% for photo in @user.photos %>
  			<li>
    			<%= image_tag photo.image_url(:thumb) if photo.image? %>
				<p>
      				<%= link_to "edit", edit_photo_path(photo) %> |
      		  	  	<%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete %>
				</p>
    		</li>
 	<% end %>
	</ul>
</div>
  <div class="clear"></div>
</div> 
