<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/rsz_logo2.ico">

    <title><%= content_for?(:title) ? yield(:title) : "Balloon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Devise Rspec Cucumber" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	<%= google_webfonts_link_tag "Open Sans" => [400, 700] %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <header>
  		<div id="banner">
  			<%= image_tag("logo.png", :alt => "Facebook - logo") %>
			<h1>Balloon</h1>
  		</div>
        <%= render 'layouts/navigation' %>
        
      </header>
	  
	  <hr class="top"/>
	   
      <div id="maincontainer">
        <%= yield %>
      </div>
	  <hr class="bottom">
	  <%= render 'layouts/messages' %>
      <footer>
  		<div id="footercontainer">
  		<div id="left">
  		<ul>
  			<li><%= link_to content_tag(:b, "Balloon"), root_path %></li>
  			<li><%= link_to "News", posts_path, :class => 'brand' %></li>
  			<li><%= link_to "Featured", root_path%></li>
  		</ul>
  		</div>
  		<div id="mid">
  		<ul>
  			<li><%= link_to content_tag(:b, "About Us"), about_path %></a></li>
  			<li><%= link_to "History", history_path %></li>
  		</ul>
  		</div>
  		<div id="right">
  		<ul>
  			<li><%= link_to content_tag(:b, "Support"), support_path %></li>
  			<li><%= link_to "Privacy & Terms", terms_path %></li>
  			<li><%= link_to "Contact Us", contact_path %></li>
  			<li><%= link_to "Site Map", sitemap_path %></li>
  			<li><%= link_to "Testing", "/coverage/index.html" %></li>
  		</ul>
  		</div>
  		<div id="last">
  		<ul>
  			<li><a href="http://www.facebook.com/"><%= image_tag("facebook-32-black.png", :alt => "Facebook - logo") %></a></li>
  			<li><a href="https://twitter.com/"><%= image_tag("twitter-32-black.png", :alt => "Twitter - logo") %></a></li>
  		</ul>
  		</div>
  		</div>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>
